.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 85px;
        color: #f1f1f1;
    }

    .ContainerInput{
        background-color: #ffffff33;
        padding: 15px;
        margin: 34px 0;
        border-radius: 8px;
        box-shadow: 1px 3px 8px #00000080;
        display: flex;
        justify-content: space-between;

        input{
            border: none;
            background-color: transparent;
            font-size: 20px;
            color: #f1f1f1;
            outline: none;
        
            &::placeholder{
                color: #f1f1f1;
            }
        }

        button{

            background-color: transparent;
            border: none;
            font-size: 25px;
            color: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    main{
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        width: 100%;
        max-width: 500px;
        padding: 15px 0 15px 0;

        h2{
            margin-bottom: 7px;
            font-size: 25px;
        }

        span{
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 568px) {
    .container{
        
        h1{
            font-size: 70px;
        }

        .ContainerInput{
            width: 90%;
            max-width: 300px;
        }

        main{
            width: 90%;

        }
    }
}