*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #6a83fd  , #627aeb  , #5b70d9  , #5367c7 , #4c5eb5  );
    color: #29292e; 
    font-family: 'Poppins', sans-serif;
}